section#chatroom
        div#chatMessage
            div#messages
            input#messageInput(type='text', placeholder='Enter your message here')
            input#sendBtn(type='button', value='Send')
        div#participants(ng-context-menu="menuOptions", ng-click="leftClick($event)")