section#chatroom
        div#chatMessage
            div#messages
            div#footerMessages
                textarea#messageInput(type='text', placeholder='Enter your message here', my-enter='myEnterClick()')
        div#participants(ng-context-menu="menuOptions", ng-click="leftClick($event)")