html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
div[ng-view] {
  background-image: url("/img/unnamed.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#loginModal>div.modal-content {
  background: rgba(255,255,255,0.5);
}
#chatroom {
  height: 100%;
  background-color: #efffec;
  padding-top: 10px;
}
#chatMessage {
  display: inline-block;
  height: 100%;
  width: 45%;
  padding-left: 10px;
}
#content {
  height: 100%;
}
#participants {
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  width: 200px;
  vertical-align: top;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 5px;
  height: 99%;
  padding-top: 10px;
}
#participants a {
  display: inline-block;
  width: 96%;
}
#messageInput {
  resize: none;
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  height: 90%;
}
#messages {
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 5px;
}
#footerMessages {
  border: 1px solid #000;
  border-radius: 10px;
  padding-left: 5px;
  padding: 3px;
  height: 85px;
  padding: 10px;
}
input#message {
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
}
input#send {
  width: 74px;
}
header {
  background-color: #4192c1;
  text-align: right;
  margin-top: 15px;
}
header h1 {
  padding: 5px;
  padding-right: 15px;
  color: #fff;
  margin: 0px;
}
footer {
  padding: 6px;
  background-color: #4192c1;
  color: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #00b7ff;
}
.modal {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: -moz-calc(100% - 102px);
  height: -webkit-calc(100% - 102px);
  height: calc(100% - 102px);
  left: 0;
  position: absolute;
  top: 62px;
  z-index: 1000;
  width: 580px;
  margin: 0 auto;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: #777;
}
.popup {
  position: absolute;
  height: 100px;
  width: 300px;
  left: -moz-calc(50% - 150px);
  left: -webkit-calc(50% - 150px);
  left: calc(50% - 150px);
  top: -moz-calc(50% - 50px);
  top: -webkit-calc(50% - 50px);
  top: calc(50% - 50px);
  background: #fff;
}
.pophead {
  background-color: #4192c1;
  color: #fff;
  font-weight: bold;
  padding: 8px 3px;
  vertical-align: middle;
}
#register {
  position: relative;
  width: 200px;
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px #d94e3b;
  background: #cb3b27;
  text-align: center;
  padding: 20px 30px;
  -webkit-transition: all 0.1s;
  -moz-transtion: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;
}
#register:active {
  -webkit-box-shadow: 0px 2px 0px #84261a;
  -moz-box-shadow: 0px 2px 0px #84261a;
  box-shadow: 0px 2px 0px #84261a;
  position: relative;
  top: 7px;
}
.popbody {
  padding: 10px 5px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
img.arrow {
  width: 22px;
  height: 22px;
  float: left;
  margin-left: 10px;
}
.user {
  width: 30px;
  height: 30px;
/*float left*/
}
a[href="#/signup"] {
  color: #041f29;
}
.container.ng-scope {
  position: absolute;
  top: 90px;
  height: -webkit-calc(100% - 102px);
  width: 100%;
}
.well {
  background: rgba(255,255,255,0.5);
  width: 580px;
  margin: 0 auto;
}
form[name="signUpForm"] label {
  white-space: nowrap;
}
