
html
  height: 100%;

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0px
  padding 0px
  height -moz-calc(100% - 20px)
  height -webkit-calc(100% - 20px)
  height calc(100% - 20px)

div[ng-view]
  background-image: url(/img/unnamed.webp)
  background-repeat no-repeat
  background-size: 100% 100%;

#loginModal>div.modal-content
  background: rgba(255,255,255,0.5);


section#chatroom
  height -moz-calc(100% - 80px)
  height -webkit-calc(100% - 80px)
  height calc(100% - 80px)
  background-color #EFFFEC

#chatMessage
  display inline-block
  height 100%
  width 45%


#content
  height 100%

.ng-scope
  height 100%

#participants
  display inline-block
  text-align right
  padding-right 5px
  width 200px
  vertical-align top


#participants a
  display: inline-block;

div#messages
  height -moz-calc(100% - 35px)
  height -webkit-calc(100% - 35px)
  height calc(100% - 35px)
  padding 10px
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  overflow auto

div#messages
  height -moz-calc(100% - 35px)
  height -webkit-calc(100% - 35px)
  height calc(100% - 35px)
  padding 10px
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing:border-box

input#message
  width -moz-calc(100% - 80px)
  width -webkit-calc(100% - 80px)
  width calc(100% - 80px)

input#send
  width 74px

header
  background-color #4192C1
  text-align right
  margin-top 15px

header h1
  padding 5px
  padding-right 15px
  color #FFFFFF
  margin: 0px

footer
  padding 6px
  background-color #4192C1
  color #FFFFFF
  bottom 0
  position absolute
  width 100%
  margin 0px
  margin-bottom 10px
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

a
  color #00B7FF

.modal
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  -moz-box-sizing border-box
  height -moz-calc(100% - 102px)
  height -webkit-calc(100% - 102px)
  height calc(100% - 102px)
  left 0
  position absolute
  top 62px
  width 100%
  z-index 1000

.backdrop
  width 100%
  height 100%
  background-color #777777

.popup
  position absolute
  height 100px
  width 300px
  left -moz-calc(50% - 150px)
  left -webkit-calc(50% - 150px)
  left calc(50% - 150px)
  top -moz-calc(50% - 50px)
  top -webkit-calc(50% - 50px)
  top calc(50% - 50px)
  background #FFFFFF

.pophead
  background-color #4192C1
  color #FFFFFF
  font-weight bold
  padding 8px 3px
  vertical-align middle

#register
  position:relative;
  width:200px;
  color:#FFF;
  display:block;
  text-decoration:none;
  margin:0 auto;
  border-radius:5px;
  border:solid 1px #D94E3B;
  background:#cb3b27;
  text-align:center;
  padding:20px 30px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;

#register:active
  -webkit-box-shadow: 0px 2px 0px #84261a;
  -moz-box-shadow: 0px 2px 0px #84261a;
  box-shadow: 0px 2px 0px #84261a;
  position:relative;
  top:7px;


.popbody
  padding 10px 5px;

.modal-body
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;

img.arrow
  width 22px;
  height 22px;
  margin-right 15px;

#loginModal
  width: 580px;
  margin: 0 auto;
