extends includes/layout
block content
    section#nameform
        div#loginModal.modal.show(tabindex=-1 role=dialog aria-hidden=true)
            div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button"  data-dismiss="modal" aria-hidden="true")
                    h1.text-center Login
                div.modal-body
                    form.form.col-md-12.center-block
                        div.form-group
                            input.form-control.input-lg(type="text"  placeholder="Email")
                        div.form-group
                            input.form-control.input-lg(type="password" placeholder="Password")
                        div.form-group
                            button.btn.btn-primary.btn-lg.btn-block Sign In
                            span.pull-right
                                a(href="#") Register
                                //a(href="#")  Need help?
                div.modal-footer
                    div.col-md-12
                    button.btn(data-dismiss="modal" aria-hidden="true")

    section#chatroom
        div#chatMessage
            div#messages
            input#message(type='text', placeholder='Enter your message here')
            input#sendMessage(type='button', value='Send')
        div#participants