doctype html
html
    block head
        title= title
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel='stylesheet', href='/css/site.css')
    body(ng-app="app")
        header#banner
        //h1 Awesome Chat
        block content
        //footer Hope you enjoy your stay here

        include scripts