doctype html
html
    head
        //title= title
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel='stylesheet', href='/css/site.css')
    body(ng-app="app")
        header#banner
        block content

        include scripts
        include currentUser