doctype html
html
    block head
        title= title
        link(rel='stylesheet', href='/css/site.css')
        script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/javascripts/chat.js')
        script(type='text/javascript', src='/javascripts/chat.js')
    body
        header#banner
        //h1 Awesome Chat
        block content
        //footer Hope you enjoy your stay here