doctype html
html
    head
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel='stylesheet', href='/css/site.css')
        include scripts
    body(ng-app="app")
        block content


        include currentUser